**1. Функція з параметром**

Створіть функцію `show_menu()`, яка приймає перелік страв, наприклад ['Піца', 'Паста', 'Салат'] і виводить меню ресторану в наступному вигляді:
```
=== МЕНЮ ===
1. Піца
2. Паста
3. Салат
=============
```

Викличте цю функцію на списку ["Суп грибний", "Котлета по-київськи", "Лимонад"].

In [5]:
def show_menu(menu):
  dish_number = 1
  print('=== МЕНЮ ===')

  for dish in menu:
    print(f"{dish_number}. {dish}")
    dish_number += 1

  print('=============')

menu = ['Піца', 'Паста', 'Салат']
show_menu(menu)

=== МЕНЮ ===
1. Піца
2. Паста
3. Салат
=============


---

**2. Функція з параметром**

Створіть функцію `print_square(n)`, яка виводить квадрат числа.

Наприклад: `print_square(5)` → "Квадрат числа 5 = 25"

Викличте її з різними числами.

In [7]:
def print_square(n):
  print(f"Квадрат числа {n} = {n ** 2}")

print_square(5)
print_square(8)
print_square(3)
print_square(112)

Квадрат числа 5 = 25
Квадрат числа 8 = 64
Квадрат числа 3 = 9
Квадрат числа 112 = 12544


---

**3. Функція з поверненням значення**

Створіть функцію `multiply(a, b)`, яка повертає добуток двох чисел.

Викличте функцію на власноруч заданих значеннях та виведіть результат.

In [9]:
def multiply(a, b):
  return a * b

print(multiply(3, 5))
print(multiply(46, 3))
print(multiply(4, 39))

15
138
156


---

**4. Функція пошуку максимумального значення**

Створіть функцію `find_max(numbers)`, яка:
- Приймає список чисел
- Повертає найбільше число в списку

Протестуйте на списку `[15, 42, 8, 23, 56, 19]`.

In [10]:
def find_max(numbers):
  return max(numbers)

my_list = [15, 42, 8, 23, 56, 19]
find_max(my_list)

56


---

**5. Функція з умовами**

Створіть функцію `check_grade(grade)`, яка:
- Приймає оцінку (число)
- Повертає "Здав" якщо grade >= 60
- Повертає "Не здав" якщо grade < 60

Протестуйте на різних оцінках.

In [12]:
def check_grade(grade):
  if grade >= 60:
    print("Здав")
  else:
    print("Не здав")

check_grade(4)
check_grade(68)
check_grade(100)
check_grade(60)

Не здав
Здав
Здав
Здав